{{#if posts.length}}
<section>
  <div>
    <h2>Welcome, {{username}}</h2>
    <p>Click on a post to edit</p>
  </div>

  {{#each post as |post|}}
  <input type ="hidden" name="post-id" value="{{post.id}}"/>
    <div>
      <div>
        <h4><a href="/dashboard/edit{{id}}">{{title}}</a></h4>
      </div>
      <button>Delete Post</button>
    </div>
    {{/each}}
</section>
{{/if}}
<button><a href="/dashboard/new">Add New Post</a></button>