<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Edit Your Post</h2>
    </div>
    <div class="card-body">
      <form class="edit-form">
        <div class="mb-3">
          <label for="post-title" class="form-label">Title:</label>
          <input
            type="text"
            class="form-control"
            id="post-title"
            name="post-title"
            value="{{post.title}}"
          />
        </div>

        <div class="mb-3">
          <label for="post-content" class="form-label">Content:</label>
          <textarea
            class="form-control"
            id="post-content"
            name="post-content"
            rows="5"
          >{{post.content}}</textarea>
        </div>

        <button type="submit" class="btn btn-primary"><i
            class="bi bi-pencil"
          ></i>Edit Post</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/edit.js"></script>