<div>
  <h2>Edit Post</h2>
  <form class="edit-form">
    <div>
      <label>Title</label>
      <input type="text" name="post-title" value="{{post.title}}" />
    </div>

    <div>
      <label>Content</label>
      <textarea name="post-content" />{{post.content}}"<textarea />
    </div>

    <div>
      <button type="submit">Edit Post</button>
    </div>
  </form>
</div>

<script src="../public/js/edit.js"></script>