<div>
  <h2>Login in below</h2>
  <form>
    <div>
      <label for="username">Username</label>
      <input placeholder="Username" type="username">
    </div>

    <div>
      <a href="/signup">Sign up here</a>
    </div>

    <button type="submit">Log In</button>
  </form>
</div>