<div>
  <h2>Add New Post</h2>
  <form>
    <div>
      <label>Title:</label>
        <input type="text" name="post-title">
    </div>

    <div>
      <label>Content</label>
      <textarea name="post-content"></textarea>
    </div>

    <div>
      <button type="submit">Add</button>
    </div>
  </form>
</div>