<div>
  <h2>Create a username and password</h2>
  <form>
    <div>
      <label for="username">Username</label>
      <input placeholder="Username" type="username">
    </div>

    <div>
      <label for="password">Password</label>
      <input placeholder="Password">Must be atleast 6 characters long</div>
    </div>

    <div>
      <a href="/login">Already have an account? Login here</a>
    </div>

    <button type="submit">Sign Up</button>
  </form>
</div>