<div>
  <h2>Create a username and password</h2>
  <form id="signup-form">
    <div>
      <label for="username">Username</label>
      <input placeholder="Username" type="username" id="username-signup">
    </div>

    <div>
      <label for="password">Password</label>
      <input placeholder="Password" type="password" id="password-signup">
      <div>Must be atleast 6 characters long</div>
    </div>

    <div>
      <a href="/login">Already have an account? Login here</a>
    </div>

    <button type="submit">Sign Up</button>
  </form>
</div>

<script src="../public/js/signup.js"