<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <h2 class="card-header">Enter username and password to sign up</h2>
        <div class="card-body">
          <form id="signup-form">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                placeholder="Enter username"
                type="text"
                class="form-control"
                id="username-signup"
              />
              <div id="usernameHelp" class="form-text">We'll never share your
                username with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                placeholder="Enter password"
                type="password"
                class="form-control"
                id="password-signup"
              />
              <div id="passwordHelp" class="form-text">Must be at least 4
                characters long.</div>
            </div>
            <div class="mb-3">
              <a href="/login">Already have an account? Login here</a>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/signup.js"></script>